/* Especially in the basic controllers & add on sections I used several repeated classes. This was done on purpose, since they apply to sometimes more than
10 elements. A summarized class would just mean more and less clear code in those cases.*/

/* global */

body p {
  font-family: helvetica, arial, sans-serif;
  line-height: normal;
  color: #383838;
}

body h2 {
  font-size: 20px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.jc-between {
  justify-content: space-between;
}

.winered {
  color: #d35266;
}

.winered-bc {
  background-color: #d35266;
}

.lightgray {
  color: #888888;
}

.lightgray-bc {
  background-color: #888888;
}

.darkgray {
  color: #383838;
}

.darkgray-bc {
  background-color: #383838;
}

.fw-bold {
  font-weight: 900;
}

header i {
  font-size: 20px;
}

.gamepad-logo {
  font-size: 30px;
}

.helvetica {
  font-family: helvetica, arial, sans-serif;
}

.fd-column {
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

.selling-article-container {
  background-color: rgb(245, 245, 245);
  margin-top: 40px;
  padding-top: 20px;
}

.search-results-main {
  background-color: rgb(245, 245, 245);
}

.plus-symbol-link i {
  font-size: 18px;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: #d35266;
  }
  50% {
    color: #888;
  }
  100% {
    color: #d35266;
  }
}

/* links */

header a {
  color: #888888;
  font-family: helvetica, arial, sans-serif;
}

.customer-reviews-sub-headline a {
  color: #d35266;
  text-decoration: none;
}

.plus-symbol-link {
  border: 1px solid #888;
  padding: 7.5px 9px;
}

.item-menu-field a {
  color: #383838;
  text-decoration: none;
}

/* hover */

header a:hover {
  color: #d35266;
  text-decoration: none;
}

.showcase-search-button:hover {
  text-decoration: none;
  font-weight: bold;
}

.customer-reviews-headline:hover {
  color: #888;
}

.customer-reviews-button:hover {
  text-decoration: none;
}

.chevron-circle:hover {
  box-shadow: 0 0 8px 4px rgba(211, 82, 101, 0.5);
  transform: scale(1.1);
}

.plus-symbol-link:hover {
  color: #888;
}

.item-menu-field:hover {
  background-color: #d35266;
}

.article-headline:hover {
  color: #383838;
}

/* header */

header {
  height: 50px;
}

.header-brand-name {
  font-size: 20px;
}

.header-right-number-block {
  position: absolute;
  height: 13px;
  width: 13px;
  top: -4px;
  right: -8px;
  padding-top: 4px;
}

.header-right-number {
  font-size: 12px;
}

/* showcase */

.showcase {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgb(211, 82, 101, 0.8),
      rgb(211, 82, 101, 0.8)
    ),
    url(images/showcase.jpg);
  background-position: 100% 50%;
  background-size: cover;
}

.showcase h1 {
  font-size: 60px;
}

.showcase-search-fields {
  height: 40px;
  border: transparent;
  border-radius: 0;
  width: 100%;
  max-width: 272px;
  padding-left: 15px;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  color: #383838;
}

.showcase-search-button {
  background-color: white;
  padding-left: 0;
}

/* customer reviews */

.customer-reviews-img {
  width: 100%;
  max-width: 400px;
}

.customer-reviews-description {
  width: 100%;
  max-width: 400px;
}

.customer-reviews-sub-headline {
  font-size: 22px;
}

.customer-reviews-button {
  padding: 14px 18px;
}

.chevron-circle {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid #888;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.chevron-left {
  position: absolute;
  top: 15px;
  right: 23px;
  font-size: 25px;
}

.chevron-right {
  position: absolute;
  top: 15px;
  right: 19px;
  font-size: 25px;
}

/* basic controllers & add-ons */

.basic-controllers {
  margin-top: 80px;
  max-width: 1140px;
  margin: 0 auto;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
  justify-items: center;
}

.item-container h3 {
  font-family: helvetica, arial, sans-serif;
  color: #888;
  font-size: 18px;
  line-height: 22px;
}

.item-description {
  font-size: 13px;
}

.item-section {
  padding: 15px;
  max-width: 300px;
  background-color: white;
}

.item-image {
  width: 100%;
}

.item-availability {
  font-weight: 900;
  color: #d35266;
}

.plus-symbol-link:focus + .item-menu {
  display: block;
}

.item-menu {
  display: none;
  position: absolute;
  width: 200px;
  border: 1px solid #888;
  background-color: white;
  bottom: -5px;
  left: 0;
}

.item-menu-field {
  height: 40px;
  font-family: helvetica, arial, sans-serif;
}

.item-price {
  color: #d35266;
  font-weight: 900;
  font-size: 20px;
}

/* footer */

.left-footer {
  max-width: 400px;
}

.footer-headlines {
  font-size: 18px;
  border-bottom: 1px solid #d35266;
}

.middle-footer a,
.right-footer a {
  color: #383838;
  font-family: helvetica, arial, sans-serif;
}

.middle-footer li,
.right-footer li {
  margin-bottom: 6px;
}

/* search-results-page */

.big-sidebar-article-container {
  background-color: rgb(245, 245, 245);
  max-width: 1200px;
}

.results-headline {
  font-size: 24px;
}

.results-section {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}

.results-section-headline {
  font-size: 18px;
}

.results-date {
  font-size: 14px;
}

/* media query */

@media only screen and (min-width: 768px) {
  /* showcase */

  .showcase {
    padding-top: 100px;
    padding-bottom: 60px;
    background-position: 100% 40%;
    background-size: cover;
  }

  .showcase h1 {
    font-size: 80px;
  }

  .showcase-search {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .showcase-search-fields {
    height: 60px;
    min-width: 150px;
  }

  /* customer reviews */

  .customer-reviews-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .customer-reviews-description {
    text-align: left;
  }

  .customer-reviews-sub-headline {
    font-size: 26px;
  }

  /* customer reviews */

  footer {
    display: grid !important;
    grid-template-columns: 1fr 50% 1fr;
  }

  .middle-footer {
    order: 1;
  }

  .left-footer {
    order: 2;
    max-width: 600px;
  }

  .right-footer {
    order: 3;
  }

  .footer-headlines {
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px solid #d35266;
  }

  /* search-results-page */

  .sidebar {
    width: 300px;
    border: 1px solid lightgray;
    margin-top: 40px;
  }

  .results-section {
    max-width: 100%;
    padding: 22px;
  }

  .results-img {
    max-width: 300px;
    flex-shrink: 0;
  }

  .results-section-headline {
    font-size: 20px;
    font-weight: bold;
  }
}
